<h1 mat-dialog-title>HighScore</h1>

<mat-dialog-content>
  <div class="highscore-container">
    <p class="item">Place</p>
    <p class="item">Player name</p>
    <p class="item">Level Reached</p>
    <p class="item">Date</p>
  </div>

  <div *ngIf="!error; else errorMessage">
    <div *ngIf="difficulty === 'Simple'">
      <div *ngIf="simpleDifficultyScores.length; else noHighscore">

        <div *ngFor="let score of simpleDifficultyScores; let i = index">
          <div class="highscore-container">
            <p class="item">{{i + 1}}</p>
            <p class="item">{{score.username}}</p>
            <p class="item">{{score.level}}</p>
            <p class="item">{{score.date | date}}</p>
          </div>
        </div>

      </div>
    </div>

    <div *ngIf="difficulty === 'Regular'">
      <div *ngIf="regularDifficultyScores.length; else noHighscore">

        <div *ngFor="let score of regularDifficultyScores; let i = index">
          <div class="highscore-container">
            <p class="item">{{i + 1}}</p>
            <p class="item">{{score.username}}</p>
            <p class="item">{{score.level}}</p>
            <p class="item">{{score.date | date}}</p>
          </div>
        </div>

      </div>
    </div>
  </div>

  <ng-template #noHighscore>
    <p id="errorMessage">There isn't any highscore yet!</p>
  </ng-template>

  <ng-template #errorMessage>
    <p id="errorMessage">The highscore couldn't be loaded. Please try again later!</p>
  </ng-template>

</mat-dialog-content>

<mat-dialog-actions>
  <div id="button-container">
      <button mat-raised-button [class.selected]="difficulty === 'Simple'" (click)="switchToSimpleDifficultyScores()">Simple Difficulty</button>
      <button id="regular-button" mat-raised-button [class.selected]="difficulty === 'Regular'" (click)="switchToRegularDifficultyScores()">Regular Difficulty</button>
  </div>
</mat-dialog-actions>