* {
    font-family: 'Raleway';
}

h1 {
    text-align: center;
    padding-bottom: 2%;
    font-weight: 400;
    font-size: calc(1.3vw + 1.3vh + .5vmin);
}

.highscore-container {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 200px;
    text-align: center;
}

button {
    min-width: 15vw;
}

#button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#errorMessage {
    text-align: center;
    color: red;
}

.selected {
    background-color: #ededed;
}

@media (max-width: 420px) {
    #button-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    #regular-button {
        padding:0;
        margin: 0;
    }

    button {
        margin-bottom: 15px;
        min-width: 50vw;
    }
}
