@import "~src/styles/variables";
@import "~src/styles/mixins";

#shape-list {
	border: 2px solid rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	margin: 1% auto 0 auto;
	@include responsive-list-width();
}

.shapes-row {
	display: flex;
	justify-content: center;
 	align-items: center;
 	padding-left: 7px;
 	flex-wrap: wrap;
}