@import "~src/styles/variables";
@import "~src/styles/mixins";

#shapes-to-memorize {
	margin: 1% auto 0 auto;
	border: 2px solid rgba(0, 0, 0, 0.7);
	border-radius: 15px;
	display: flex;
	justify-content: center;
 	align-items: center;
 	padding-left: 7px;
	flex-wrap: wrap;
	@include responsive-list-width();
}

.question-mark {
	@include responsive-shape-size-memorize();
	
	margin: 5px;
	display: flex;
	justify-content: center;
}

.question-mark i {
	font-size: 3.2rem;
	align-self: center;
	color: #555;

	@include small-device() {
		font-size: 25px;
	}
}

.hidden {
	display: none;
}