<div *ngIf="showShapes;then show_shapes else hide_shapes"></div>

<ng-template #show_shapes>
    <div id="shapes-to-memorize">
        <app-shape *ngFor="let shape of shapesToMemorize" [id]='shape.id' [type]='shape.type' [style]='shape.style'
            [parentClass]='shape.parentClass'></app-shape>
    </div>
</ng-template>

<ng-template #hide_shapes>
    <div id="shapes-to-memorize">
        <div *ngFor="let number of questionMarks" class="question-mark"><i class="fas fa-question"></i></div>
    </div>
</ng-template>
