<div class="container">
  <form (ngSubmit)="login()" #loginForm="ngForm">
    <h2>Please sign in</h2>
    <div class="item">
      <label for="inputUsername">Username</label>
      <input type="text" placeholder="Username" [(ngModel)]="loginData.username" name="username" required />
    </div>

    <div class="item">
      <label for="inputPassword">Password</label>
      <input type="password" placeholder="Password" [(ngModel)]="loginData.password" name="password" required />
    </div>

    <div id="buttons-container">
      <button mat-raised-button type="submit">Sign in</button>
      <button mat-raised-button mat-dialog-close [routerLink]="['/signup']">Sign up</button>
    </div>

    <button id="play-no-login" mat-raised-button>Play Now</button>

    <div id="alert" role="alert" *ngIf="message !== ''">
      {{message}}
    </div>
  </form>
</div>