@import "~src/styles/variables";
@import "~src/styles/mixins";

* {
    font-family: 'Raleway';
}

.title-margin {
    margin-top: 10vh;
}

.title-no-margin {
    margin-top: 0;
}

#title {
    font-size: calc(2.8vw + 2.8vh + .5vmin);
    text-align: center;
    font-weight: 200;
    @media (max-height: 599px) {
        font-size: 2em;
    }
}

#welcome-message {
    margin-top: 7vh;
    margin-bottom: 0;
    font-size: calc((2.8vw + 2.8vh + .5vmin) / 2);
    text-align: center;
    font-weight: 200;
    @media (max-height: 599px) {
        font-size: 1.1em;
        margin-top: 1vh;
    }
}

#username {
    border-bottom: 1px solid rgb(70, 68, 68);
    padding-top: 25px;
}

#menu {
    @media (max-height: 500px) {
        margin-top: 10vh;
    }

    margin-top: 15vh;
}

button {
    display: block;
    margin: 30px auto;
    font-size: calc(1vw + 1vh + .5vmin);
    @include size(5.8vh, 26vw);

    @include small-device() {
        font-weight: 400;
        font-size: 1.5em;
    }
    @include phone() {
        font-weight: 400;
        font-size: 1.5em;
    }
    @include tablet-landscape-up() {
        font-size: calc(1vw + 1vh + .5vmin);
        font-weight: 300;
    }

    min-height: 40px;
    min-width: 220px;
}

button:hover {
    background-color: #ededed;
}

canvas {
    background-color: rgba(223, 223, 223, 0.274);
    position:fixed; 
    top:0;
    left:0;
    z-index:-1;
}