@import "~src/styles/variables";
@import "~src/styles/mixins";

* {
    font-family: 'Raleway';
}

#menu {
    margin-top: 35vh;
}

button {
    display: block;
    margin: 30px auto;
    font-size: calc(1vw + 1vh + .5vmin);
    @include size(5.8vh, 26vw);

    @include small-device() {
        font-weight: 400;
        font-size: 1.5em;
    }
    @include phone() {
        font-weight: 400;
        font-size: 1.5em;
    }
    @include tablet-landscape-up() {
        font-size: calc(1vw + 1vh + .5vmin);
        font-weight: 200;
    }

    min-height: 40px;
    min-width: 220px;
}

button:hover {
    background-color: #ededed;
}