<p id="welcome-message" *ngIf="loggedUser">Welcome <span id="username">{{loggedUser}}</span>,</p>
<h1 id="title" [className]="loggedUser ? 'title-no-margin' : 'title-margin'">Can you remember?</h1>
<div id="menu">
  <button mat-raised-button (click)="play()">Play</button>
  <button mat-raised-button (click)="openHighScore()">High Score</button>
  <button mat-raised-button (click)="openDifficulty()">Difficulty ({{difficulty}})</button>
  <button mat-raised-button (click)="openInstructions()">Instructions</button>
  <button *ngIf="loggedUser" mat-raised-button (click)="logOut()">Log Out</button>
</div>

<canvas id="canvas" ></canvas>