@mixin size($height, $width) {
	height: $height;
	width: $width;
}

@mixin responsive-size($size) {
	height: nth($size, 1);
	width: nth($size, 2);
}
@mixin small-device {
	@media (max-width: 349px) { @content; }
}
@mixin phone {
	@media (min-width: 350px) { @content; }
}
@mixin tablet-portrait-up {
	@media (min-width: 600px) { @content; }
}
@mixin tablet-landscape-up {
	@media (min-width: 900px) { @content; }
}
@mixin desktop-up {
	@media (min-width: 1200px) { @content; }
}
@mixin big-desktop-up {
	@media (min-width: 1800px) { @content; }
}

@mixin triangle-left-right($orientation, $border) {
	@include size(0px, 0px);
	border-top: nth($border, 2) solid transparent;
	border-bottom: nth($border, 2) solid transparent;
	border-#{$orientation}: nth($border, 1) solid;
}

@mixin triangle-up-down($orientation, $border) {
	@include size(0px, 0px);
	border-left: nth($border, 2) solid transparent;
	border-right: nth($border, 2) solid transparent;
	border-#{$orientation}: nth($border, 1) solid;
}

@mixin responsive-list-width {
	@include phone() {width: $game-width-phone;}
	@include tablet-portrait-up() {width: $game-width-tablet-portrait-up;}
	@include tablet-landscape-up() {width: $game-width-tablet-landscape-up;}
	@include desktop-up() {width: $game-width-desktop-up;}
	@include big-desktop-up() {width: $game-witdh-big-desktop-up;}
}

// Responsive triangles to pick from
@mixin responsive-triangle-pick($direction) {
	@if $direction == 'top' or $direction == 'bottom' {
		@include small-device() {@include triangle-up-down($direction, $triangle-small-device-pick);}
		@include phone() {@include triangle-up-down($direction, $triangle-phone-pick);}
		@include tablet-portrait-up() {@include triangle-up-down($direction, $triangle-tablet-portrait-up-pick);}
		@include tablet-landscape-up() {@include triangle-up-down($direction, $triangle-tablet-landscape-up-pick);}
		@include desktop-up() {@include triangle-up-down($direction, $triangle-desktop-up-pick);}
		@include big-desktop-up() {@include triangle-up-down($direction, $triangle-big-desktop-up-pick);}
	} @else {
		@include small-device() {@include triangle-left-right($direction, $triangle-small-device-pick);}
		@include phone() {@include triangle-left-right($direction, $triangle-phone-pick);}
		@include tablet-portrait-up() {@include triangle-left-right($direction, $triangle-tablet-portrait-up-pick);}
		@include tablet-landscape-up() {@include triangle-left-right($direction, $triangle-tablet-landscape-up-pick);}
		@include desktop-up() {@include triangle-left-right($direction, $triangle-desktop-up-pick);}
		@include big-desktop-up() {@include triangle-left-right($direction, $triangle-big-desktop-up-pick);}
	}
}

// Responsive triangle to memorize
@mixin responsive-triangle-memorize($direction) {
	@if $direction == 'top' or $direction == 'bottom' {
		@include small-device() {@include triangle-up-down($direction, $triangle-small-device-memorize);}
		@include phone() {@include triangle-up-down($direction, $triangle-phone-memorize);}
		@include tablet-portrait-up() {@include triangle-up-down($direction, $triangle-tablet-portrait-up-memorize);}
		@include tablet-landscape-up() {@include triangle-up-down($direction, $triangle-tablet-landscape-up-memorize);}
		@include desktop-up() {@include triangle-up-down($direction, $triangle-desktop-up-memorize);}
	} @else {
		@include small-device() {@include triangle-left-right($direction, $triangle-small-device-memorize);}
		@include phone() {@include triangle-left-right($direction, $triangle-phone-memorize);}
		@include tablet-portrait-up() {@include triangle-left-right($direction, $triangle-tablet-portrait-up-memorize);}
		@include tablet-landscape-up() {@include triangle-left-right($direction, $triangle-tablet-landscape-up-memorize);}
		@include desktop-up() {@include triangle-left-right($direction, $triangle-desktop-up-memorize);}
	}
}

// Responsive shapes to pick
@mixin responsive-shape-size-pick() {
	@include small-device() {@include responsive-size($shape-small-device-pick);}
	@include phone() {@include responsive-size($shape-phone-pick);}
	@include tablet-portrait-up() {@include responsive-size($shape-tablet-portrait-up-pick);}
	@include tablet-landscape-up() {@include responsive-size($shape-tablet-landscape-up-pick);}
	@include desktop-up() {@include responsive-size($shape-desktop-up-pick);}
	@include big-desktop-up() {@include responsive-size($shape-big-desktop-up-pick);}
}

// Responsive shapes to memorize
@mixin responsive-shape-size-memorize() {
	@include small-device() {@include responsive-size($shape-small-device-memorize);}
	@include phone() {@include responsive-size($shape-phone-memorize);}
	@include tablet-portrait-up() {@include responsive-size($shape-tablet-portrait-up-memorize);}
	@include tablet-landscape-up() {@include responsive-size($shape-tablet-landscape-up-memorize);}
	@include desktop-up() {@include responsive-size($shape-desktop-up-memorize);}
}