/* Game width variables */
$game-width-phone-only: 80%;
$game-width-tablet-portrait-up: 65%;
$game-width-tablet-landscape-up: 80%;
$game-width-desktop-up: 70%;
$game-witdh-big-desktop-up: 50%;

/* Shape size variables */
$shape-phone-only: 55px, 55px;
$shape-tablet-portrait-up: 80px, 80px;
$shape-tablet-landscape-up: 100px, 100px;
$shape-desktop-up: 150px, 150px;
$shape-big-desktop-up: 180px, 180px;

/* Triangle border variables */
$triangle-phone-only: 40px, 20px;
$triangle-tablet-portrait-up: 60px, 35px;
$triangle-tablet-landscape-up: 80px, 40px;
$triangle-desktop-up: 120px, 65px;
$triangle-big-desktop-up: 140px, 75px;

