@import "~src/styles/variables";
@import "~src/styles/mixins";

#info-bar {
	margin: 2% auto 0 auto;
	font-size: 1.5rem;
	display: flex;
	justify-content: space-between;
	@include responsive-list-width();
}