$triangle-biggest-border: 160px;
$triangle-smallest-border: 85px;

@mixin size($height, $width) {
	height: $height;
	width: $width;
}

.shape-to-pick-from {	
	@include size(200px, 200px);
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.shape-to-memorize {	
	@include size(100px, 100px);
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.square {
	@include size(80%, 80%);
}

.rectangle {
	@include size(80%, 50%);
}

.circle {
	@include size(80%, 80%);
 	border-radius: 50%;
}

@mixin border($direction, $width, $style, $color) {
	border-#{$direction}: $width solid transparent;
}

.triangle-up {
	border-left: $triangle-smallest-border solid transparent;
	border-right: $triangle-smallest-border solid transparent;
	border-bottom: $triangle-biggest-border solid;
}

.triangle-down {
	@include size(0px, 0px);
	border-left: $triangle-smallest-border solid transparent;
	border-right: $triangle-smallest-border solid transparent;
	border-top: $triangle-biggest-border solid;
}

.triangle-left {
	@include size(0px, 0px);
	border-top: $triangle-smallest-border solid transparent;
	border-bottom: $triangle-smallest-border solid transparent;
	border-right: $triangle-biggest-border solid;
}

.triangle-right {
	@include size(0px, 0px);
	border-top: $triangle-smallest-border solid transparent;
	border-bottom: $triangle-smallest-border solid transparent;
	border-left: $triangle-biggest-border solid;
}

.hidden {
	display: none;
}

@media (max-width: 1800px) {
	$triangle-biggest-border: 120px;
	$triangle-smallest-border: 60px;

	.shape {
		height: 150px;
		width: 150px;
	}
}

@media (max-width: 1100px) {
	$triangle-biggest-border: 80px;
	$triangle-smallest-border: 40px;

	.shape {
		height: 100px;
		width: 100px;
	}
}

@media (max-width: 600px) {
	$triangle-biggest-border: 40px;
	$triangle-smallest-border: 20px;
	
	.shape {
		height: 80px;
		width: 80px;
	}
}

@media (max-width: 500px) {
	$triangle-biggest-border: 40px;
	$triangle-smallest-border: 20px;
	
	.shape {
		height: 45px;
		width: 45px;
	}
}