@import "~src/styles/variables";
@import "~src/styles/mixins";

.shape-to-pick-from {	
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	@include responsive-shape-size();
}

.shape-to-memorize {	
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	@include responsive-shape-size();
}

.shape {
	@include responsive-shape-size();
}

.square {
	@include size(80%, 80%);
}

.rectangle {
	@include size(80%, 50%);
}

.circle {
	@include size(80%, 80%);
 	border-radius: 50%;
}

.triangle-up {
	@include responsive-triangle(bottom);
}

.triangle-down {
	@include responsive-triangle(top);
}

.triangle-left {
	@include responsive-triangle(right);
}

.triangle-right {
	@include responsive-triangle(left);
}

.hidden {
	display: none;
}