<div class="container">
  <form (ngSubmit)="signup()" #loginForm="ngForm">
    <h2>Sign Up</h2>
    <div class="item">
      <label for="inputUsername">Username</label>
      <input type="text" placeholder="Username" [(ngModel)]="signupData.username" name="username" required />
    </div>

    <div class="item">
      <label for="inputPassword">Password</label>
      <input type="password" placeholder="Password" [(ngModel)]="signupData.password" name="password" required />
    </div>

    <button id="sign-up" mat-raised-button type="submit">Sign Up</button>
    <button id="play-no-login" (click)="playWithoutLogin()" mat-raised-button>Play Offline</button>

    <div id="alert" role="alert" *ngIf="message !== ''">
      {{message}}
    </div>
  </form>
</div>