* {
  font-family: 'Raleway';
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  min-width: 10vw;
  min-height: 24vh;
  font-family: 'Raleway';
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 2em;
}

.item {
  display: flex;
  align-items: center;
}

label {
  display: none;
}

input {
  min-width: 250px;
  padding: 10px;
  margin-bottom: 10px;
}

#play-no-login {
  margin-top: 20px;
  width: 100%;

  &:hover {
    background-color: #ededed;
  }
}

#sign-up {
  margin-top: 20px;
  width: 100%;
  background-color: #25b125ef;;
  color: white;

  &:hover {
    background-color: #1f961fef;
  }
}

#alert {
  margin-top: 10px;
  color: rgb(230, 120, 120);
  text-align: center;
}