<div id="shape-list">
        <div class="shapes-row">
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
        </div>

        <div class="shapes-row">
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
        </div>

        <div class="shapes-row">
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
                <app-shape [displayType]="shapesToPickFrom"></app-shape>
        </div>
</div>