<h1 mat-dialog-title>Instructions</h1>

<mat-dialog-content>
  <p>-> Once the timer starts, you have 5 seconds to memorize the shapes (and their order) from the top frame.</p>
  <p>-> After the timer stops and the top shapes are hidden, press on a shape from the bottom frame.</p>
  <p>-> If the shape and its color match the one you memorized, it will dissapear. Otherwise you will lose a live.</p>
  <p>-> If you remembered all the shapes in the right order, you will get to the next level.</p>
  <p>-> If you lose all the lives, it's Game Over.</p>
  <p></p>
  <p>-> Try to get to the highest level you can.</p>
  <p>-> Good Luck! </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close>Close</button>
</mat-dialog-actions>