<div id="shapes-to-pick-from">
        <div class="shapes-row">
                <app-shape></app-shape>
                <app-shape></app-shape>
                <app-shape></app-shape>
                <app-shape></app-shape>
        </div>

        <div class="shapes-row">
                <app-shape></app-shape>
                <app-shape></app-shape>
                <app-shape></app-shape>
                <app-shape></app-shape>
        </div>

        <div class="shapes-row">
                <app-shape></app-shape>
                <app-shape></app-shape>
                <app-shape></app-shape>
                <app-shape></app-shape>
        </div>
</div>