::ng-deep :root {
	--triangle-biggest-border: 160px;
	--triangle-smallest-border: 85px;
	--game-width: 50%;
}

.square {
	height: 80%;
	width: 80%;
}

.rectangle {
	height: 80%;
	width: 50%;
}

.circle {
	height: 80%;
	width: 80%;
 	border-radius: 50%;
}

.triangle-up {
	border-left: var(--triangle-smallest-border) solid transparent;
	border-right: var(--triangle-smallest-border) solid transparent;
}

.triangle-left {
	width: 0;
	height: 0;
	border-top: var(--triangle-smallest-border) solid transparent;
	border-bottom: var(--triangle-smallest-border) solid transparent;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: var(--triangle-smallest-border) solid transparent;
	border-bottom: var(--triangle-smallest-border) solid transparent;
}

.triangle-down {
	width: 0;
	height: 0;
	border-left: var(--triangle-smallest-border) solid transparent;
	border-right: var(--triangle-smallest-border) solid transparent;
}

.hidden {
	display: none;
}

.shape {	
	height: 200px;
	width: 200px;
   margin: 5px;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media (max-width: 1800px) {
	:root {
		--triangle-biggest-border: 120px;
		--triangle-smallest-border: 60px;
		--game-width: 70%;
	}

	.shape {
		height: 150px;
		width: 150px;
	}
}

@media (max-width: 1100px) {
	:root {
		--triangle-biggest-border: 80px;
		--triangle-smallest-border: 40px;
		--game-width: 80%;
	}

	.shape {
		height: 100px;
		width: 100px;
	}
}

@media (max-width: 600px) {
	:root {
		--triangle-biggest-border: 40px;
		--triangle-smallest-border: 20px;
		--game-width: 80%;
	}

	.shape {
		height: 80px;
		width: 80px;
	}
}

@media (max-width: 500px) {
	:root {
		--triangle-biggest-border: 40px;
		--triangle-smallest-border: 20px;
		--game-width: 95%;
	}

	.shape {
		height: 45px;
		width: 45px;
	}
}